.primary-button-component {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.bg-blue {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: var(--color-primary-purplish-blue);
}

.btn-primary {
  text-transform: capitalize;
  padding: 0.7rem 1rem;
  border: 1px solid var(--color-primary-marine-blue);
  background-color: var(--color-primary-marine-blue);
  color: var(--color-neutral-white);
  font-weight: var(--font-weight-3);
  z-index: 100;
  position: relative;
}

.btn-primary:hover {
  opacity: 0.75;
}
