.content-button-bottom {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 90vw;
  margin: 0 auto;
}

.content-button-bottom > .blank-space {
  flex: auto;
}

@media (min-width: 1024px) {
  .content-button-bottom {
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
  }
}
