.select-radio {
  display: none;
}

.content-form_select_group {
  display: grid;
  grid-template-areas: "icon title" "icon subTitle" "blank plus";
  grid-template-columns: 4rem auto;
  grid-template-rows: 1.5rem 1.5rem;
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 10px;
  padding: 0.7rem 0.5rem;
}

.select-radio:checked + label > .content-form_select_group {
  border-color: var(--color-primary-purplish-blue);
  background-color: var(--color-neutral-magnolia);
}

.select-radio + label > .content-form_select_group:hover {
  border-color: var(--color-primary-purplish-blue);
}

.content-form_select_group > .circle {
  grid-area: icon;
  justify-self: center;
  align-self: center;
}

.content-form_select_group > .title {
  grid-area: title;
}

.content-form_select_group > .price {
  grid-area: subTitle;
}

.content-form_select_group > .plus {
  grid-area: plus;
}

@media (min-width: 1024px) {
  .content-form_select_group {
    grid-template-areas: "icon" "title" "subTitle" "plus";
    grid-template-columns: auto;
    grid-template-rows: 5rem;
    min-width: 7rem;
    min-height: 7rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .content-form_select_group > .circle {
    justify-self: start;
    align-self: start;
  }
}
