.content-form_step {
  background-color: var(--color-neutral-white);
  box-sizing: border-box;
  padding: 2rem 1rem;
  margin: 1rem;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .content-form_step {
    padding: 32px;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  .form-select-group-simple {
    display: flex;
    justify-content: space-between;
  }
}
