.page-root {
  border: 1px solid var(--color-neutral-white);
  color: var(--color-neutral-white);
  background-color: transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.page-root:not(:last-child) {
  margin-right: 1rem;
}

.page-root.active {
  background-color: var(--color-primary-light-blue);
  border-color: var(--color-primary-light-blue);
  color: #000;
  font-weight: var(--font-weight-3);
}
